alias get_gitignore_freecad="cp /home/logic/_workspace/github-playlist/gitignore-collect/freecad.gitignore ."

alias get_gitignore_kicad="cp /home/logic/_workspace/github-playlist/gitignore-collect/kicad.gitignore ."

alias get_gitignore_next="cp /home/logic/_workspace/github-playlist/gitignore-collect/next.gitignore ."

alias get_gitignore_node="cp /home/logic/_workspace/github-playlist/gitignore-collect/node.gitignore ."

alias get_gitignore_python="cp /home/logic/_workspace/github-playlist/gitignore-collect/python.gitignore ."

alias get_gitignore_react="cp /home/logic/_workspace/github-playlist/gitignore-collect/react.gitignore ."

alias update_gitignore_collect="cd /home/logic/_workspace/github-playlist/gitignore-collect && ./gen.py && source scripts.rc" && cd -